@charset "UTF-8";
* {
  font-family: MiFuente;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: MiFuente;
  src: url("../Font/DancingScript-VariableFont_wght.ttf");
}
body {
  background-image: url(../image/fondo_rosa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

footer {
  background-color: #4d5b69;
  max-width: 100%;
  width: 100%;
}
footer ul li {
  padding: 0 25px;
  transition: 0.8s;
}
footer ul li:hover {
  transform: scale(1.5);
}
footer ul li:hover .red_nombre {
  opacity: 0.8;
}
footer ul li img {
  height: 25px;
}
footer ul li .whatsapp {
  height: 80px;
  margin-bottom: 25px;
  transition: 1s;
}
footer ul li .whatsapp:hover {
  transform: scale(1);
  margin-right: 30px;
  filter: brightness(1.5);
}
footer ul li .red_nombre {
  position: absolute;
  opacity: 0;
  top: 5px;
  left: 60px;
  transition: 0.5s;
  font-size: 13px;
  background-color: #4d5b69;
  color: white;
}

#navbar {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header nav li {
  padding: 0 20px;
}
header nav a {
  transition: 1s !important;
  border-radius: 20px;
}
header nav ul a:hover {
  color: rgb(255, 0, 43) !important;
  filter: drop-shadow(0 0 23px rgb(229, 8, 44)) !important;
  font-size: 35px !important;
}

.contacto_contenedor {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 300px;
  column-gap: 120px;
  padding-top: 100px;
}
.contacto_contenedor .contacto_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  border-right: 2px solid #29343F;
  border-left: 2px solid #29343F;
}

.form_contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29343F;
  margin: 20px 350px 10px 350px;
  padding: 50px 0 50px 0;
  border-radius: 25px;
  color: white;
}
.form_contacto input[type=button] {
  width: 400px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
}
.form_contacto .enviar:hover {
  background-color: rgb(237, 134, 151);
  font-weight: bolder;
  color: black;
}
.form_contacto .form_elemento input,
.form_contacto textarea {
  width: 400px;
  max-width: 500px;
  height: 40px;
}

@media (max-width: 1200px) {
  .contacto_contenedor {
    grid-template-columns: repeat(3, 200px) !important;
    grid-template-rows: 180px !important;
    column-gap: 60px !important;
    padding-top: 100px !important;
  }
  .contacto_contenedor .contacto_item h3 {
    font-size: 25px !important;
  }
  .contacto_contenedor .contacto_item p {
    font-size: 20px !important;
  }
  .form_contacto {
    margin: 20px 50px 0 50px;
  }
}
@media (max-width: 768px) {
  .form_contacto input[type=button] {
    width: 200px;
  }
  .form_contacto .form_elemento input,
  .form_contacto textarea {
    width: 200px;
  }
  .contacto_contenedor {
    grid-template-columns: repeat(2, 150px) !important;
    grid-template-rows: 180px !important;
    column-gap: 30px !important;
  }
  .contacto_contenedor .contacto_item {
    border: none !important;
  }
}
.eventos-container {
  height: 650px;
}
.eventos-container .evento-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  transition: flex 0.1s linear;
  cursor: pointer;
}
.eventos-container .evento-img span {
  opacity: 0;
  font-size: 50px;
}
.eventos-container .evento-img:nth-child(1) {
  background-image: url(../image/Cumpleaños.jfif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.eventos-container .evento-img:nth-child(2) {
  background-image: url(../image/Casamiento.jfif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.eventos-container .evento-img:nth-child(3) {
  background-image: url(../image/Corporativo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.eventos-container .evento-img:hover {
  flex: 3;
  filter: Grayscale();
}
.eventos-container .evento-img:hover span {
  opacity: 1;
  color: white;
}

@media (max-width: 992px) {
  .eventos-container {
    height: 900px;
  }
  .eventos-container .evento-item {
    flex-direction: column;
    margin: 100px 50px 0 50px;
  }
}
.excelencia_cont_items {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: 300px;
  padding: 200px 0 150px 0;
}
.excelencia_cont_items .excelencia_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 10px 0 10px 0;
  background-color: transparent;
  border: 2px solid #4d5b69;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.excelencia_cont_items .excelencia_item h2 {
  margin: 40px 0 40px 0;
  font-size: 30px;
}
.excelencia_cont_items .excelencia_item p {
  margin: 0 30px 10px 30px;
  font-size: 20px;
}
.excelencia_cont_items .excelencia_item img {
  height: 50px;
  transition: 1s;
}
.excelencia_cont_items .excelencia_item:hover {
  transform: scale(1.1) rotate(-5deg);
  backdrop-filter: blur(100px);
  background-color: #4d5b69;
  color: white;
}
.excelencia_cont_items .excelencia_item:hover img {
  transform: scale(1.2);
}

@media (max-width: 1200px) {
  .excelencia_cont_items {
    grid-template-columns: repeat(2, 300px);
    padding: 130px 0 20px 0;
    grid-template-rows: 370px;
  }
}
@media (max-width: 768px) {
  .excelencia_cont_items {
    grid-template-columns: repeat(1, 0.7fr);
    grid-template-rows: repeat(4, 400px);
  }
}
.titulo_inicio {
  position: absolute;
  filter: drop-shadow(0 0 10px white);
  top: 170px;
  margin-left: 100px;
  width: 80%;
}
.titulo_inicio h1 {
  font-size: 40px;
  width: 100%;
}

.tarjetas_contenedor .tarjetas_item {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.tarjetas_contenedor .tarjetas_item .col {
  width: 420px;
  padding: 30px !important;
  border-radius: 40px;
  transition: 0.5s;
}
.tarjetas_contenedor .tarjetas_item .col:hover {
  opacity: 70%;
  transform: scale(1.05);
}
.tarjetas_contenedor .tarjetas_item .col .card {
  cursor: pointer;
}

.carousel-item img {
  height: 700px;
  object-fit: cover;
  filter: brightness(40%);
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 400px;
  }
  .titulo_inicio {
    margin: 0 0 0 40px;
    top: 120px;
  }
  .titulo_inicio h3 {
    font-size: 15px !important;
    margin-top: 30px !important;
    width: 280px !important;
  }
  .titulo_inicio h1 {
    font-size: 20px !important;
  }
  .card {
    margin-bottom: 85px !important;
  }
  .card .card-body {
    height: 20px;
  }
  .card .card-body .card-text {
    font-size: 16px !important;
  }
}
.menu_contenedor {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  grid-template-columns: repeat(2, 450px);
  column-gap: 80px;
  padding: 150px 0 100px 0;
}
.menu_contenedor .menu_titulo {
  font-size: 50px;
}
.menu_contenedor .menu_item {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 200px;
  border-radius: 26px 58px;
  border: 1px solid #3f3f3f;
  grid-column: 1/2;
  background: linear-gradient(270deg, #ffd2d2, #f7cbf7, #d4dafe);
  background-size: 600% 600%;
  filter: drop-shadow(0 0 5px #3f3f3f);
  animation: fondogradiente 10s ease infinite;
}
@keyframes fondogradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.menu_contenedor .menu_img {
  grid-column: 2/2;
  grid-row: 1/5;
  filter: drop-shadow(0 0 5px #3f3f3f);
  border-radius: 80%;
}
.menu_contenedor .menu_img img {
  border-radius: 5%;
  height: 800px;
}

@media (max-width: 1200px) {
  .menu_contenedor {
    grid-template-columns: repeat(2, 300px);
    padding: 120px 0 20px 0;
  }
}
@media (max-width: 768px) {
  .menu_contenedor {
    grid-template-columns: repeat(1, 350px);
  }
  .menu_contenedor .menu_item {
    margin: 30px 0 10px 0;
  }
  .menu_contenedor .menu_img {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .menu_contenedor .menu_img img {
    height: 300px;
    width: 100%;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
