.excelencia_cont_items {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: 300px;
    padding: 200px 0 150px 0;

    .excelencia_item {
        height: 400px;
        margin: 10px 0 10px 0;
        background-color: transparent;
        border: 2px solid #4d5b69;
        border-radius: 10px;

        h2 {
            margin: 40px 0 40px 0;
            font-size: 30px;
        }

        p {
            margin: 0 30px 10px 30px;
            font-size: 20px;
        }

        img {
            height: 50px;
        }
    }
}

@media (max-width: 1200px) {
    .excelencia_cont_items {
        grid-template-columns: repeat(2, 300px);
        padding: 130px 0 20px 0;
        grid-template-rows: 370px;
    }
}

@media (max-width: 768px) {
    .excelencia_cont_items {
        grid-template-columns: repeat(1, 0.7fr);
        grid-template-rows: repeat(4, 400px);
    }
}