@import "../utilities/mixins.scss";

.contacto_contenedor {
    @include display-pos(grid,center,center);
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 300px;
    column-gap: 120px;
    padding-top: 100px;

    .contacto_item {
        @include display-pos(flex,center,center);
        @include widths(100%,100%);
        border-right: 2px solid #29343F;
        border-left: 2px solid #29343F;
    }
}

.form_contacto {
    @include display-pos(flex,center,center);
    background-color: #29343F;
    margin: 20px 350px 10px 350px;
    padding: 50px 0 50px 0;
    border-radius: 25px;
    color: white;

    input[type="button"] {
        width: 400px;
        background-color: transparent;
        color: white;
        border-radius: 20px;
    }

    .enviar {
        &:hover {
            background-color: rgb(237, 134, 151);
            font-weight: bolder;
            color: black;
        }
    }

    .form_elemento input,
    textarea {
        width: 400px;
        max-width: 500px;
        height: 40px;
    }
}

@media (max-width: 1200px) {
    .contacto_contenedor {
        grid-template-columns: repeat(3, 200px) !important;
        grid-template-rows: 180px !important;
        column-gap: 60px !important;
        padding-top: 100px !important;

        .contacto_item {
            h3 {
                font-size: 25px !important;
            }

            p {
                font-size: 20px !important;
            }
        }
    }

    .form_contacto {
        margin: 20px 50px 0 50px;
    }
}

@media (max-width: 768px) {

    .form_contacto {
        input[type="button"] {
            width: 200px;
        }

        .form_elemento input,
        textarea {
            width: 200px;
        }
    }

    .contacto_contenedor {
        grid-template-columns: repeat(2, 150px) !important;
        grid-template-rows: 180px !important;
        column-gap: 30px !important;

        .contacto_item {
            border: none !important;
        }
    }
}